* {
  box-sizing: border-box;
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}
body {
  font: 20px sans-serif;
  overflow: hidden;
}
body > button {
  position: absolute;
  text-transform: uppercase;
  padding: 1em;
  background: transparent;
  border: 1px solid;
  outline: none;
}
#btnClear {
  width: 100px;
  height: 40px;
  top: 20px;
  left: 0px;
  position: absolute;
  background-image: url('../static/images/eraser.png');
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: center;
}
#btnSkip {
  top: 25px;
  right: 10px;
  position: absolute;
  /* color: #0A5EFB; */
  color: darkorange;
  font-weight: bold;
}
#wrapper {
  height: 100%;
  width: 100%;
}
#canvas,#plot {
  display: inline-block;
  vertical-align: top;
}
#canvas {
  height: 88%;
  /* border-bottom: 2px solid teal; */
  width: 100%;
  cursor: pointer;
  overflow: hidden;
  /* padding-top: 55px; */
}
#plot {
  height: 50%;
  border: 1px solid black;
  width: 100%;
  background-color: #bfbfbf;
}

#result {
  font-family:nunitobold;
  font-size: 25px;
  font-style: italic;
}

@media screen and (max-width: 640px) {
  #result {
    position: absolute;
    bottom: 10px;
  }
}

@media screen and (max-width: 640px) and (min-width: 500px) { 
  #btnClear {
    top: 10px;
    left: -10px;
  }

  #btnSkip { 
    top: 17px;
    right: 10px;
  }  

  #canvas {
    width: 147%;
    height: 88%;
  }
}

@media screen and (max-width: 500px) { 
  #btnClear {
    left: -15px;
  }

  #canvas {
    height: 88%;
    padding: 0;
  }
} 

